*, *::before, *::after {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
   background-color: #463822;
    background: linear-gradient(#456142, #463822);
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #fff;
    font-family: 'Inconsolata', monospace;
}

.container {
  width: 800px;
  height: 265px;
  max-width: 80%;
  padding: 10px;
  margin-top: 175px;
  border-radius: 5px;
  box-shadow: 0 0 10px 2px;
  box-sizing: border-box;
}

.btn-group button {
  grid-template-columns: repeat(2, auto);
  gap: 10px;
  margin-top: 20px;
}

.btn {
  background-color: transparent;
  width: 95%;
  height: 35px;
  padding: 5px 10px;
  color: white;
  outline: none;
  border: 2px solid #DA966A;
  border-radius: 25px;
  text-align: left;
}

.btn:hover {
  background-color: #F5ECEE;
  color: #456142;
}

@media only screen and (min-width: 900px){
  .container{
    height: 198px;
  }
}

.Backbutton{
  background-color: cyan;
  text-decoration: none;
  border-radius: 15px;
  width: 65px;
  height: 18px;
}

.text2{
  color: black;
  font-size: 16px;
}

.Backbutton:hover,.Backbutton:active{
  background-color: lightblue;
  height: 50px;
  width: 97px;
  color: #000; 
  transition: background-color 0.3s ease-in, color 0.2s ease-in;
  font-size: 35px;
}
