*{
  margin: 0;
  padding: 0;
  font-family: Georgia;
}
.container{
  text-align: center;
}
.btn{
  border: 1px solid #3498db;
  background: none;
  padding: 10px 20px;
  font-size: 20px;
  font-family: "montserrat"
  cursor; pointer:
  margin: 10px
}
.btn1{
  color: #3497db
}
